/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');
/* font-family: 'Titillium Web', sans-serif; */


/* common css */
:root {
  --primary-color: #000000;
  --secondory-color: #00F2E6;
  --body-text:#E8E8F0;
}
*:focus,button:focus,input:focus,.form-control:focus { outline: none;}
body { background-color: black; font-family: 'Titillium Web', sans-serif; font-weight: 400;}
h1,h2,h3,h4,h5,p { margin: 0px; color: #fff;}
h1,h4 { font-weight: 700; }
h2,h3,h5 { font-weight: 600; }
h4,h5 { color: var(--secondory-color); }
h1 { font-size: 74px; line-height: 90px; }
h2 { font-size: 68px; line-height: 5rem; }
h3 { font-size: 32px; line-height: 40px; text-transform: capitalize; }
h4 { font-size: 24px; line-height: 32px; }
h5 { font-size: 18px; line-height: 28px; text-transform: capitalize;}
p { font-size: 18px; line-height: 28px; font-weight: 600; color: var(--body-text);}
img { max-width: 100%;}

.mint-btn { padding: 16px 24px; background-color: var(--secondory-color); color: var(--primary-color); border: transparent; font-size: 22px; line-height: 28px; font-weight: 600; border-radius: 30px; -webkit-border-radius: 30px;  transition-duration: 0.3s; -webkit-transition-duration: 0.3s; display: inline-block; text-transform: uppercase; cursor: pointer;}
.mint-btn:hover,
.mint-btn:focus { background-color: var(--primary-color); color: var(--secondory-color);}

.common-btn { padding: 16px 32px; background-color: var(--secondory-color); color: var(--primary-color); border: transparent; font-size: 22px; line-height: 28px; font-weight: 600; border-radius: 30px; -webkit-border-radius: 30px;  transition-duration: 0.3s; -webkit-transition-duration: 0.3s; display: inline-block; text-transform: uppercase; cursor: pointer;}
.common-btn:hover,
.common-btn:focus { background-color: var(--primary-color); color: var(--secondory-color);}
.seprator-title { margin-bottom: 30px; position: relative; text-align: center; font-size: 69px;}
/* .seprator-title::before { content: ""; background: rgb(0,191,240); background: -moz-linear-gradient(left, rgba(0,191,240,1) 0%, rgba(0,242,230,1) 100%); background: -webkit-linear-gradient(left, rgba(0,191,240,1) 0%,rgba(0,242,230,1) 100%); background: linear-gradient(to right, rgba(0,191,240,1) 0%,rgba(0,242,230,1) 100%); width: 64px; height: 4px; position: absolute; left: calc(50% - 32px); top: 100%; border-radius: 4px; -webkit-border-radius: 4px; display: block;} */
.common-list li:not(:last-child) { margin-bottom: 31px;}
.common-list li { padding-left: 32px; font-size: 18px; line-height: 28px; font-weight: 600; color: var(--body-text); position: relative;}
.common-list li::before { content: ""; width: 16px; height: 16px; background: rgb(0,191,240); background: -moz-linear-gradient(left, rgba(0,191,240,1) 0%, rgba(0,242,230,1) 100%); background: -webkit-linear-gradient(left, rgba(0,191,240,1) 0%,rgba(0,242,230,1) 100%); background: linear-gradient(to right, rgba(0,191,240,1) 0%,rgba(0,242,230,1) 100%); border-radius: 50%; -webkit-border-radius: 50%; position: absolute; left: 0; top: 7px; display: block;}

/* common modal */
.modal { z-index: 1400;}
.modal-backdrop { z-index: 1200;}
.common-modal .modal-dialog { max-width: 746px; }
.common-modal .modal-body { padding: auto;}
.common-modal .modal-content { padding: 40px 48px; border: 3px solid var(--secondory-color); border-radius: 24px; -webkit-border-radius: 24px; background-color: #161051;}
.modal-title { margin-bottom: 24px; padding-bottom: 24px; border-bottom: 1px solid #A4A1C1;}
.common-modal .close { margin: 0px; padding: 0px; opacity: 1;}
.common-modal .common-btn:hover,
.common-modal .common-btn:focus { background-color: rgba(0,242,230,0.3);}

/* common accordion */
.common-accordion .card:not(:last-child) { margin-bottom: 16px;}
.common-accordion .card { background-color: transparent; border: transparent;  overflow: hidden; position: relative;}
.common-accordion .card-header { padding: 0px; border: transparent; background-color: transparent;}
.common-accordion .card-header button.btn-link { padding: 20px 0px 10px 0px; width: 100%; font-size: 22px; line-height: 28px; font-weight: 600; text-align: left; position: relative; white-space: normal;}
.common-accordion .card-header button.btn-link::before { content: ""; background: url(../images/minus.svg) no-repeat right center / 24px 24px; width: 24px; height: 24px; position: absolute; top: calc(50% - 12px); right: 20px; display: block; transform: rotate(0deg); transition-duration: 0.3s; -webkit-transition-duration: 0.3s; }  
.common-accordion .card-header button.btn-link.collapsed::before { background: url(../images/plus.svg) no-repeat right center / 24px 24px; width: 24px; height: 24px; position: absolute; top: calc(50% - 12px); right: 20px; display: block; transform: rotate(0deg); transition-duration: 0.3s; -webkit-transition-duration: 0.3s;}
.common-accordion .card-header:first-child { border-radius: 0px;}
.common-accordion .card-header button.btn-link { background: rgb(255,255,255) !important; background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%); background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%) !important; background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%) !important;  -webkit-background-clip: text !important; -webkit-text-fill-color: transparent !important;}
.common-accordion .card-body { padding: 20px 20px 20px; background-color: #2F2F2F;}

/* navbar css */
header,
.navbar-brand img { transition-duration: 0.3s; -webkit-transition-duration: 0.3s;}
header { padding: 38px 100px; position: fixed; top: 0px; left: 0px; width: 100%; z-index: 1199; background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);  }
.navbar-brand img { max-width: 100%; margin: auto;}
header.fixed { padding: 15px 100px; background: rgba(0,0,0,0.8);}
header.fixed .navbar-brand img { max-width: 100%;}
.navbar,.navbar-brand { margin: auto; padding: 0px;}
.navbar-nav { margin: 0px -28px;}
.navbar-nav li { margin: 0px 28px;}
.navbar-expand-md .navbar-nav .nav-link { padding: 0px; text-transform: uppercase; transition-duration: 0.3s; -webkit-transition-duration: 0.3s; }
.navbar-expand-md .navbar-nav .nav-link,
.navbar-nav li.login-wallet { font-size: 22px; line-height: 28px; font-weight: 600; color: rgba(255,255,255,0.85); }
h3,
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-nav li.login-wallet span { background: #066163; background: -moz-linear-gradient(left, rgba(6,97,99,1) 0%, rgba(0,242,230,1) 100%); background: -webkit-linear-gradient(left, rgba(6,97,99,1) 0%,rgba(0,242,230,1) 100%); background: linear-gradient(to right, rgba(6,97,99,1) 0%,rgba(0,242,230,1) 100%);  -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.navbar-light .navbar-nav .nav-link:focus { color: var(--body-text);}
.navbar-expand-md .navbar-nav .nav-link.connect-wallet { padding: 16px 32px; background-color: var(--secondory-color); color: #000000; border-radius: 30px; -webkit-border-radius: 30px; -webkit-background-clip: unset; -webkit-text-fill-color: unset;}
.navbar-expand-md .navbar-nav .nav-link.connect-wallet:hover { background: rgba(255,255,255,0.85); color: var(--primary-color);}
.navbar-nav li.login-wallet { padding: 16px 20px; background: -moz-linear-gradient(left, rgba(125,185,232,0.2) 0%, rgba(0,242,230,0.2) 100%); background: -webkit-linear-gradient(left, rgba(125,185,232,0.2) 0%,rgba(0,242,230,0.2) 100%); background: linear-gradient(to right, rgba(125,185,232,0.2) 0%,rgba(0,242,230,0.2) 100%); border-radius: 20px; -webkit-border-radius: 20px; text-transform: capitalize;}
.navbar-nav li.login-wallet span { padding-left: 30px; display: block; position: relative;}
.navbar-nav li.login-wallet span::before { content: ""; background: url(../images/wallet-icon.svg) no-repeat left center / 18px 16px; width: 18px; height: 16px; position: absolute; left: 0; top: calc(50% - 6px); display: block;}
.opensea{  display: block; position: absolute; top: 0; right: 0; cursor: pointer; }
header.fixed .opensea{ top:15px; transition-duration: 0.2s; -webkit-transition-duration: 0.2s;}

/* home page start */
/* banner css */
.banner-section { min-height: 100vh; position: relative; overflow: hidden;}
.banner-section::before { content: ""; width: 100%; height: 100%; background-color: rgba(0,0,0,0.1); position: absolute; top: 0; left: 0; display: block;}
.banner-section  { background: url(../images/hero.png) no-repeat bottom right / cover; }
.banner-section video { position: absolute; top: 50%; left: 50%; width: auto; min-width: 100%; height: auto; min-height: 100%; transform: translateX(-50%) translateY(-50%); z-index: -1; }
.banner-desc { padding: 220px 100px;  }
.banner-desc h1 { max-width: 55%;}
.banner-desc .common-btn { margin: 40px 0px 63px;}
.banner-digit { margin: 0px; font-size: 180px; line-height: 104px; font-weight: 700; color: rgba(0,242,230,0.5); transform: translateY(47px);}
.mountains { max-width: 65%; position: absolute; bottom: -36px; right: -26%;}
.first-mountain { position: absolute; width: 70%; bottom: 0; right: 54%;}
.moon { position: absolute; top: 160px; right: 290px; max-width: 160px;}
.nft-qty-sec { margin: 40px 0px;}
.gradient-border,
.nft-qty-sec input { border-radius: 24px; -webkit-border-radius: 24px; }
.gradient-border { padding: 2px; background: rgb(0,191,240); background: -moz-linear-gradient(left, rgba(0,191,240,1) 0%, rgba(0,242,230,1) 100%); background: -webkit-linear-gradient(left, rgba(0,191,240,1) 0%,rgba(0,242,230,1) 100%); background: linear-gradient(to right, rgba(0,191,240,1) 0%,rgba(0,242,230,1) 100%); overflow: hidden; }
.nft-qty-sec input { padding: 24px; font-size: 22px; line-height: 28px; font-weight: 600; color: #fff; height: auto; width: 100%; border: transparent; background-color: #322B74;}
.nft-qty-sec input::-webkit-input-placeholder { font-size: 22px; line-height: 28px; text-transform: capitalize; color: #D1D0E0; opacity: 1; font-weight: 600;}
.nft-qty-sec input:-moz-placeholder { font-size: 22px; line-height: 28px; text-transform: capitalize; color: #D1D0E0; opacity: 1; font-weight: 600;}
.nft-qty-sec input::-moz-placeholder { font-size: 22px; line-height: 28px; text-transform: capitalize; color: #D1D0E0; opacity: 1; font-weight: 600;}
.nft-qty-sec input:-ms-input-placeholder { font-size: 22px; line-height: 28px; text-transform: capitalize; color: #D1D0E0; opacity: 1; font-weight: 600;}
.nft-qty-sec p { margin: 12px 0px 40px 12px; font-size: 16px; line-height: 24px; letter-spacing: 0.1px; font-weight: 600; color: #fff;}
.congratulation-modal .modal-title img { max-width: 162px;}
.congratulation-modal p { margin: 24px 0px 0px; font-size: 28px; line-height: 36px; color: #fff;}

/* about company css*/
.about-company { padding: 120px 0px 70px; background: url(../images/about-company-bg.png) no-repeat bottom left / 100% 140px; position: relative;}
.about-company::before { content: ""; background: url(../images/stars-pattern.png) no-repeat center center / cover; width: 100%; height: 100%; position: absolute; left: 0; top: -140px; display: block;}
/* how to work css*/
.how-it-works { padding: 140px 0px 0px; position: relative;}
.how-it-works::before,
.how-it-works::after { content: ""; position: absolute; display: block; } 
.how-it-works::before { width: 150px; height: 465px; background: url(../images/left-pattern.png) no-repeat left center / 100% auto; top: 45%; left: 0;}
.how-it-works::after{ width: 164px; height: 490px; background: url(../images/right-pattern.png) no-repeat left center / 100% auto; top: 14%; right: 0; }
.how-work-list .row:not(:last-child) { margin-bottom: 40px;}
.how-work-list .row { padding: 64px 50px 64px 65px; background: #163d7e; border-radius: 24px; -webkit-border-radius: 24px; }
.how-work-list .how-work-title { margin-bottom: 28px;}
.how-work-list .how-work-title img { margin-right: 16px;}
.how-work-list img { max-width: 90%;}
.how-work-list .row:nth-child(even) { padding: 64px 65px 64px 50px; } 
.how-work-list .row:nth-child(even) > div:first-child { order: 2; text-align: right;}
.dctdao-text-sec > div{ position: absolute;}
.dctdao-text-sec .left-anim-text { top: -24%; left: 100px;}
.dctdao-text-sec .right-anim-text { bottom: 24%; right: 100px;}

/* contact us */
.contact-us { padding-top: 100px;}
.contact-us .seprator-title { margin-bottom: 30px;}
.contact-us .gradient-border { padding: 1px; position: relative; background: transparent;}
.contact-us .gradient-border::before { content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: block; opacity: 0.5;}
.contact-us .gradient-border,
.contact-us .contact-box { height: 100%; border-radius: 12px; -webkit-border-radius: 12px; position: relative; }
.contact-us .contact-box::before { content: ""; background: linear-gradient(261.63deg, rgba(0, 242, 230, 0.1) -15.38%, rgba(0, 180, 240, 0.1) 107.69%); opacity: 0.5; width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: block;}
.contact-box { padding: 24px; background-color: var(--primary-color);}
.contact-box img { margin-right: 24px; width: 48px; flex-shrink: 0;}
.contact-box > div { flex-grow: 1; position: relative; z-index: 2;}
.contact-box > div h5 { margin-bottom: 8px;}
.contact-box > div a,
.contact-box > div address { margin-bottom: 0px; font-size: 22px; line-height: 28px; font-weight: 600; color: var(--body-text); font-style: normal;}
.contact-box > div a { transition-duration: 0.3s; -webkit-transition-duration: 0.3s; text-decoration: unset;}
.contact-box > div a:hover,
.contact-box > div a:focus { color: var(--secondory-color);}
/* home page end */

/* footer css */
/* copyright */
.copyright { margin-top: 80px; padding: 64px 0px; border-top: 1px solid #ffffff;}
.footer-links li:not(:last-child) { margin-right: 24px;}
.footer-links li button { padding: 0px; font-size: 18px; line-height: 28px; font-weight: 600; text-transform: capitalize; color: var(--body-text); transition-duration: 0.3s; -webkit-transition-duration: 0.3s; background-color: transparent; border: transparent; cursor: pointer;}
.footer-links li button:hover,
.footer-links li button:focus { color: var(--secondory-color);}

/* media query start */
@media(min-width:1440px) {
  .container { max-width: 1300px;}
}
@media(min-width:1600px) and (max-width:1799px) {
/* common css */
h1 { font-size: 70px; line-height: 80px; }
/* home page start */
/* banner css */
.banner-desc h1 { max-width: 65%; }
.banner-digit { font-size: 150px; line-height: 90px;}
/* how work  */
/* .how-it-works::before { width: 110px; }
.how-it-works::after { width: 104px; bottom: 22%;} */
/* home page end */
}
@media(min-width:1400px) and (max-width:1599px) {
/* navbar css */
header { padding: 28px 50px; }
header.fixed { padding: 20px 50px; }

/* home page start */
/* banner css */
.banner-desc { padding: 140px 50px; }
.banner-desc h1 { max-width: 75%; }
.banner-digit { font-size: 140px; line-height: 100px; transform: translateY(14px);}
.dctdao-text-sec img:first-child { left: 50px; }
.dctdao-text-sec img:last-child { right: 50px; }
.moon { top: 140px; right: 180px; max-width: 140px;}
/* how work  */
.how-it-works::before { width: 110px; }
.how-it-works::after { width: 104px; bottom: 22%;}
.dctdao-text-sec .left-anim-text { left: 50px;}
.dctdao-text-sec .right-anim-text { right: 50px;}
/* home page end */

}
@media(min-width:1200px) and (max-width:1399px) {
/* common css */
h1 { font-size: 60px; line-height: 70px; }

/* navbar css */
header { padding: 30px 50px; }
header.fixed { padding: 20px 50px; }
header.fixed .navbar-brand img { max-width: 90%; }
.navbar-brand { max-width: 200px; }
.navbar-nav { margin: 0px -18px; }
.navbar-nav li { margin: 0px 18px; }

/* home page start */
/* banner css */
.banner-desc { padding: 140px 50px; }
.banner-desc h1 { max-width: 75%; }
.banner-digit { font-size: 120px; line-height: 100px; transform: translateY(25px);}
.moon { top: 190px; right: 140px; max-width: 120px;}
/* about company */
.about-company { padding: 100px 0px 70px; }
.dctdao-text-sec img:first-child { left: 20px; top: -22%;}
.dctdao-text-sec img:last-child { right: 30px; bottom: 17%;}
/* how work  */
.how-it-works { padding: 100px 0px 0px; }
.dctdao-text-sec .left-anim-text { left: 30px;}
.dctdao-text-sec .right-anim-text { right: 30px;}
/* home page end */

/* footer css */
.copyright { margin-top: 80px; padding: 44px 0px; }

}
@media(min-width:992px) and (max-width:1199px) {
/* common css */
h1 { font-size: 50px; line-height: 60px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; line-height: 34px;}
.common-btn { padding: 12px 22px; font-size: 18px; line-height: 24px;}
.seprator-title { margin-bottom: 70px; }
.common-list li:not(:last-child) { margin-bottom: 20px; }

/* common modal */
.common-modal .modal-dialog { max-width: 700px; }
.common-modal .modal-content { padding: 30px 38px; }
.modal-title { margin-bottom: 20px; padding-bottom: 20px; }

/* navbar css */
header { padding: 20px 30px; }
header.fixed { padding: 15px 30px; }
.navbar-brand { max-width: 180px;} 
.navbar-nav { margin: 0px -20px;}
.navbar-nav li { margin: 0px 20px; }
.navbar-expand-md .navbar-nav .nav-link, .navbar-nav li.login-wallet { font-size: 18px; line-height: 24px;}
.navbar-expand-md .navbar-nav .nav-link.connect-wallet { padding: 12px 22px; }

/* home page start */
/* banner css */
.banner-desc { padding: 120px 30px; }
.banner-desc h1 { max-width: 75%; }
.banner-digit { font-size: 100px; line-height: 90px; transform: translateY(27px);}
.banner-desc .common-btn { margin: 30px 0px 20px; }
.nft-qty-sec { margin: 20px 0px; }
.nft-qty-sec input { padding: 18px; font-size: 18px; line-height: 24px; }
.nft-qty-sec input::-webkit-input-placeholder { font-size: 18px; line-height: 24px; }
.nft-qty-sec input:-moz-placeholder { font-size: 18px; line-height: 24px; }
.nft-qty-sec input::-moz-placeholder { font-size: 18px; line-height: 24px; }
.nft-qty-sec input:-ms-input-placeholder { font-size: 18px; line-height: 24px; }
.nft-qty-sec p { margin-bottom: 30px;}
.congratulation-modal p { margin: 22px 0px 0px; font-size: 24px; line-height: 32px;}
.mountains { max-width: 72%; }
.moon { top: 140px; right: 120px; max-width: 100px;}
/* about company */
.about-company { padding: 80px 0px 70px; }
/* how work  */
.how-it-works { padding: 80px 0px 0px; position: relative; }
.how-work-list .row { padding: 40px 30px 40px 40px; }
.how-work-list .row:nth-child(even) { padding: 40px 40px 40px 30px; }
.how-work-list .how-work-title { margin-bottom: 18px; }
.dctdao-text-sec img { max-height: 40%; }
.dctdao-text-sec .left-anim-text{ left: 20px; top: -20%;}
.dctdao-text-sec .right-anim-text { right: 20px;}
/* contact page */
.contact-us { padding-top: 80px; }
.contact-box { padding: 15px; }
.contact-box img { margin-right: 14px; width: 38px; }
.contact-box > div h5 { margin-bottom: 2px; }
.contact-box > div a, .contact-box > div address { font-size: 18px; line-height: 24px;}
/* home page end */

/* footer css */
.copyright { margin-top: 60px; padding: 34px 0px; }

}
@media(min-width:768px) and (max-width:991px) {
/* common css */
h1 { font-size: 42px; line-height: 52px; }
h2 { font-size: 30px; line-height: 60px; }
h3 { font-size: 26px; line-height: 34px; }
h4 { font-size: 20px; line-height: 28px; }
p { font-size: 16px; line-height: 26px; }
.common-btn { padding: 10px 22px; font-size: 18px; line-height: 24px;}
.seprator-title { margin-bottom: 60px; }
.common-list li:not(:last-child) { margin-bottom: 20px; }
.common-list li { padding-left: 24px; font-size: 16px; line-height: 26px;}
.common-list li::before { width: 12px; height: 12px; }

/* common modal */
.common-modal .modal-dialog { max-width: 600px; }
.common-modal .modal-content { padding: 20px 30px; }
.modal-title { margin-bottom: 18px; padding-bottom: 18px; }
.common-modal .close img { max-width: 80%;}

/* common accordion */
.common-accordion .card-header button.btn-link { padding: 16px 36px 16px 16px; font-size: 18px; line-height: 24px; }
.common-accordion .card-body { padding: 0px 16px 16px;}

/* navbar css */
header { padding: 20px; }
header.fixed { padding: 12px 20px; }
.navbar-nav { margin: 0px -8px; }
.navbar-nav li { margin: 0px 8px; }
.navbar-brand { max-width: 160px;}
.navbar-brand img,
header.fixed .navbar-brand img { max-width: 100%;}
.navbar-expand-md .navbar-nav .nav-link, .navbar-nav li.login-wallet { font-size: 16px; line-height: 22px;}
.navbar-expand-md .navbar-nav .nav-link.connect-wallet { padding: 10px 20px; }
.navbar-nav li.login-wallet { padding: 10px 20px; }

/* home page start */
/* banner css */
.banner-desc { padding: 80px 20px; }
.banner-desc h1 { max-width: 75%; }
.banner-digit { font-size: 70px; line-height: 80px; transform: translateY(43px);}
.banner-desc .common-btn { margin: 20px 0px 10px; }
.nft-qty-sec { margin: 20px 0px; }
.nft-qty-sec input { padding: 14px; font-size: 18px; line-height: 24px; }
.nft-qty-sec input::-webkit-input-placeholder { font-size: 18px; line-height: 24px; }
.nft-qty-sec input:-moz-placeholder { font-size: 18px; line-height: 24px; }
.nft-qty-sec input::-moz-placeholder { font-size: 18px; line-height: 24px; }
.nft-qty-sec input:-ms-input-placeholder { font-size: 18px; line-height: 24px; }
.congratulation-modal p { margin: 20px 0px 0px; font-size: 20px; line-height: 28px; }
.mountains { max-width: 80%; }
.moon { top: 130px; right: 80px; max-width: 90px;}
/* about company */
.about-company { padding: 60px 0px 70px; }
/* how work  */
.how-it-works { padding: 40px 0px 0px; }
.how-work-list .how-work-title { margin-bottom: 18px; }
.how-work-list .row,
.how-work-list .row:nth-child(even) { padding: 30px;}
.how-work-list img { max-width: 100%; }
.dctdao-text-sec img { max-height: 500px;}
.dctdao-text-sec .left-anim-text { left: 20px; top: -11%;}
.dctdao-text-sec .right-anim-text { right: 15px; bottom: 32%;}
/* contact page */
.contact-us { padding-top: 60px; }
.contact-box { padding: 15px; flex-direction: column; align-items: center !important; justify-content: center;}
.contact-dtl  { text-align: center;}
.contact-box img { margin: 0px 0px 14px;}
.contact-box > div h5 { margin-bottom: 2px; }
.contact-box > div a, .contact-box > div address { font-size: 16px; line-height: 24px;}
/* home page end */

/* footer css */
.copyright { margin-top: 60px; padding: 24px 0px; }
.footer-links { margin-bottom: 12px !important;} 
.footer-links li:not(:last-child) { margin-right: 16px; }

}


/* roadmap */

.roadmap{
  background-color: #000000;
  padding-bottom: 50px;
}

.mt-70{
  margin-top: 30px;
}

.mb-70{
  margin-bottom: 70px;
}

.card-body {
 flex: 1 1 auto;
 padding: 1.25rem;
}
.vertical-timeline {
 width: 100%;
 position: relative;
 padding: 1.5rem 0 1rem;
}

.vertical-timeline::before {
 content: '';
 position: absolute;
 top: 0;
 left: 67px;
 height: 100%;
 width: 4px;
 background: #e9ecef;
 border-radius: .25rem;
}

.vertical-timeline-element {
 position: relative;
 margin: 0 0 1rem;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
 visibility: visible;
 animation: cd-bounce-1 .8s;
}
.vertical-timeline-element-icon {
 position: absolute;
 top: 8px;
 left: 60px;
}

.vertical-timeline-element-icon .badge-dot-xl {
 box-shadow: 0 0 0 5px #fff;
 border-radius: .50rem;
 background: #fff;
}

.badge-dot-xl {
 width: 18px;
 height: 18px;
 position: relative;

}
.badge:empty {
 display: none;
}


.badge-dot-xl::before {
 content: '';
 position: absolute;
 left: 50%;
 top: 50%;
 margin: -5px 0 0 -5px;
}

.vertical-timeline-element-content {
 position: relative;
 margin-left: 120px;
 font-size: .8rem;
}

.vertical-timeline-element-content .timeline-title {
 font-weight: bold;
 text-transform: uppercase;
 margin: 0 0 .5rem;
 padding: 2px 0 0;
 font-weight: bold;
}

.list {
  font-weight: lighter;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
 display: block;
 position: absolute;
 left: -90px;
 top: 0;
 padding-right: 10px;
 text-align: right;
 color: #adb5bd;
 font-size: .7619rem;
 white-space: nowrap;
}

.vertical-timeline-element-content:after {
 content: "";
 display: table;
 clear: both;
}



/* new about */

.about-background{
  background-color: #A4825D;
  min-height: 92vh;
  align-items: center;
}

/* team */
.team-background{
  background-color: #ffffff;
  min-height: 94vh;
  align-items: center;
  padding-bottom: 100px;
}

.team-one{margin-top: 80px;}
.team-image{height: 60%;}
.logo-bottom {height: 60%;}
.openbottom{height: 85%}  

@media(max-width:767px) {
/* common css */
h1 { font-size: 26px; line-height: 34px; }
h2 { font-size: 26px; line-height: 50px; }
h3 { font-size: 24px; line-height: 30px; }
h4 { font-size: 20px; line-height: 28px; }
p { font-size: 14px; line-height: 26px; }
.common-btn { padding: 8px 22px; font-size: 18px; line-height: 24px;}
.banner-digit { font-size: 40px; line-height: 50px; transform: translateY(30px);}
.seprator-title { margin-bottom: 40px; }
.common-list li:not(:last-child) { margin-bottom: 14px; }
.common-list li { padding-left: 20px; font-size: 16px; line-height: 26px;}
.common-list li::before { width: 10px; height: 10px; top: 10px;}
.discord-add{ visibility: hidden;}

/* common modal */
.common-modal .modal-content { padding: 20px; border-width: 2px;}
.modal-title { margin-bottom: 16px; padding-bottom: 16px; }
.common-modal .close img { max-width: 70%;}

/* common accordion */
.common-accordion .card-header button.btn-link { padding: 10px 24px 10px 10px; font-size: 16px; line-height: 24px;}
.common-accordion .card-header button.btn-link::before { right: 4px;}
.common-accordion .card-body { padding: 0px 10px 10px;}

.statistic-subtitle{
  font-size: 8px;
}
.statistic-title{
  font-size: 18px;
}

.roadmap-sub{ font-size: 16px; margin-right: 10px;}
.seprator-title {font-size: 30px; margin-top: 50px;}
.about-container { padding-top: 10px;}
.about-background{ min-height: 105vh;} 
.about-descriptions{ max-width: 350px; margin-right: 10px;}
.team-background{ min-height: 60vh;} 
.team-container {padding-top: 20px;}
.team-image{height: 40%;}
.team-name{font-size: 15px;}
.team-one {margin-bottom: 40px; margin-right: 20px;}
.team-two {margin-bottom: 40px; margin-right: 20px;}
.team-position{font-size: 13px; line-height: normal;}

.logo-bottom {margin-left: 45px;}
.btn-bottom{visibility: hidden;}
.discord-footer {visibility: visible;}

.vertical-timeline {
  width: 100%;
  position: relative;
  padding: 1.5rem 0 1rem;
 }
 
 .vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left:-10px;
  height: 100%;
  width: 2px;
  background: #e9ecef;
  border-radius: .25rem;
 }
 
 .vertical-timeline-element {
  position: relative;
  margin: 0 0 1rem;
 }
 
 .vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 .8s;
 }
 .vertical-timeline-element-icon {
  position: absolute;
  top: 3px;
  left: -14px;
 }
 
 .vertical-timeline-element-icon .badge-dot-xl {
  box-shadow: 0 0 0 5px #fff;
  border-radius: .50rem;
  background: #fff;
 }
 
 .badge-dot-xl {
  width: 10px;
  height: 10px;
  position: relative;
 
 }
 .badge:empty {
  display: none;
 }
 
 
 .badge-dot-xl::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -5px;
 }
 
 .vertical-timeline-element-content {
  position: relative;
  margin-left: 20px;
  font-size: .8rem;
 }
 
 .vertical-timeline-element-content .timeline-title {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 .5rem;
  padding: 2px 0 0;
  font-weight: bold;
 }
 
 .list {
   font-weight: lighter;
 }
 
 .vertical-timeline-element-content .vertical-timeline-element-date {
  display: block;
  position: absolute;
  left: -90px;
  top: 0;
  padding-right: 10px;
  text-align: right;
  color: #adb5bd;
  font-size: .7619rem;
  white-space: nowrap;
 }
 
 .vertical-timeline-element-content:after {
  content: "";
  display: table;
  clear: both;
 }

/* navbar css */
header,
header.fixed { padding: 15px 0px;}
.navbar-brand {  max-width: 100px; margin: auto;margin-top: 10px; }
header.fixed .navbar-brand  img { max-width: 100%;}
.navbar-toggler { padding: 0px; border: transparent;}
.navbar-light .navbar-toggler-icon { margin-right: 15px; background-image: url(../images/hamburg.png);}
.navbar-nav { margin: 20px 0px 0px; padding: 30px;  }
.navbar-nav li:not(:first-child) { margin: 16px 0px 0px;}
.navbar-expand-md .navbar-nav .nav-link, .navbar-nav li.login-wallet { font-size: 18px; line-height: 22px;}
.navbar-expand-md .navbar-nav .nav-link.connect-wallet { padding: 10px 18px; }
.navbar-nav li.login-wallet { padding: 10px 16px; }

.opensea{ top:10px; right:60px; }

/* home page start */
/* banner css */
/* .banner-section { background: url(../images/banner-mobile.jpg) no-repeat center center / cover;} */
.banner-desc { padding: 80px 15px; }
.banner-desc h1 { max-width: 100%;}
.banner-desc .common-btn { margin: 24px 0px 43px; }
.nft-qty-sec { margin: 10px 0px 20px; } 
.nft-qty-sec input { padding: 14px; font-size: 16px; line-height: 20px;}
.nft-qty-sec input::-webkit-input-placeholder { font-size: 16px; line-height: 20px; }
.nft-qty-sec input:-moz-placeholder { font-size: 16px; line-height: 20px; }
.nft-qty-sec input::-moz-placeholder { font-size: 16px; line-height: 20px; }
.nft-qty-sec input:-ms-input-placeholder { font-size: 16px; line-height: 20px; }
.nft-qty-sec p { margin: 12px 0px 22px 12px; }
.congratulation-modal p { margin: 14px 0px 0px; font-size: 16px; line-height: 26px;}
.moon,
.mountains { display: none;}
/* about company */
.about-company { padding: 40px 0px 70px;}
.about-company img { margin-bottom: 30px;}
/* how work  */
.how-it-works { padding: 0px 15px;}
.dctdao-text-sec { display: none;}
.how-work-list .row:not(:last-child) { margin-bottom: 30px; }
.how-work-list .row,
.how-work-list .row:nth-child(even) { padding: 30px 0px; }
.how-work-list img { margin-bottom: 30px; max-width: 100%; } 
.how-work-list .how-work-title { margin-bottom: 18px; }
.how-work-list .how-work-title img { margin: 0px 12px 0px 0px;}
.how-work-list .row:nth-child(even) > div:first-child { order: 1;}
.how-work-list .row:nth-child(even) > div:last-child { order: 2;}
/* contact page */
.contact-us { padding-top: 50px; }
.contact-us .seprator-title { margin-bottom: 40px; }
.contact-us .row > div:not(:last-child) { margin-bottom: 20px;}
.contact-box { padding: 15px; }
.contact-box > div h5 { margin-bottom: 2px; }
.contact-box > div a, .contact-box > div address { font-size: 16px; line-height: 26px; }
.contact-box img { margin-right: 14px; width: 32px; }
/* home page end */

/* footer css */
.copyright { margin-top: 50px; padding: 20px 0px; }
.footer-links { margin-bottom: 10px !important;} 
.footer-links li:not(:last-child) { margin-right: 15px; }
.footer-links li button { font-size: 16px; line-height: 26px;}
}

/* socials styles */

.center {
  display: flex;
  width: 100%;

  height: 10vh;
  align-items: center;
  justify-content: center;
}

#social-test {
  z-index: 5;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}
#social-test .social {
  padding-left: 0px;
}
#social-test li {
  display: inline-block;
}
#social-test li a {
  color: rgba(255,255,255,1);
  border-radius: 6px;
  list-style-type: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 1%;
  cursor: pointer;
  margin-left: 28px;
  margin-bottom: 20px;
  transition: ease .3s;
  text-decoration: none;
}
/* #social-test li a:hover {
  color: #ffffff;
} */
/* .social:hover > li {
  opacity: 0.5;
} */
/* .social:hover > li:hover {
  opacity: 1;
} */
.credits, .credits a {
  font-size: 20px;
  font-family: Open Sans;
  color: rgba(255,255,255,1);
}





.team-name{
  font-weight: bold;
  margin-top: 10px;
  color: #000000;
}
.team-position{
  font-weight: lighter;
  color: #000000;
}

/* faq */

.faq-background{
  z-index: 20;
  background-color: #000000;
  min-height: 92vh;
  align-items: center;
  /* padding-bottom: 100px; */
}



/***** Wrapper *****/

.wrapper { display: block; }


/***** Sidebar *****/

.sidebar {
	width: 250px; height: 100vh; position: fixed; top: 0; left: -255px; z-index: 999; 
	background: #333; color: #fff; transition: all .3s; box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
	text-align: left;
}

.sidebar.active { left: 0; }

.dismiss {
	width: 35px; height: 35px; position: absolute; top: 10px; right: 10px; transition: all .3s; 
	background: #444; border-radius: 4px; text-align: center; line-height: 35px; cursor: pointer;
}

.dismiss:hover, .dismiss:focus { background: #555; color: #fff; }

.sidebar .logo { padding: 40px 20px; border-bottom: 1px solid #444; transition: all .3s; }

.sidebar .logo a {
	display: inline-block;
	width: 172px;
	height: 34px;
	background: url(../img/logo.png) left top no-repeat;
	border: 0;
	text-indent: -999999px;
}

.sidebar ul.menu-elements { padding: 10px 0; border-bottom: 1px solid #444; transition: all .3s; }

.sidebar ul li a {
	display: block; padding: 10px 20px;
	border: 0; color: #fff;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus { outline: 0; background: #555; color: #fff; }

.sidebar ul li a i { margin-right: 5px; }

.sidebar ul li.active > a, a[aria-expanded="true"] {
	background: #444;
	color: #fff;
}

.sidebar ul ul a { background: #444; padding-left: 30px; font-size: 14px; }

.sidebar ul ul li.active > a { background: #555; }

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .to-top { padding: 20px; text-align: center; }

.sidebar .dark-light-buttons { padding: 10px 20px 30px 20px; text-align: center; }

/* sidebar light */

.sidebar.light { background: #fff; color: #2F2F2F; }

.sidebar.light .dismiss { background: #ddd; color: #2F2F2F; }

.sidebar.light .dismiss:hover, 
.sidebar.light .dismiss:focus { background: #ccc; color: #2F2F2F; }

.sidebar.light .logo { border-color: #eee; }
.sidebar.light .logo a { background-image: url(../assets/images/teddy.svg); }

.sidebar.light ul.menu-elements { border-color: #eee; }

.sidebar.light ul li a { color: #2F2F2F; }

.sidebar.light ul li a:hover,
.sidebar.light ul li a:focus,
.sidebar.light ul li.active > a:hover,
.sidebar.light ul li.active > a:focus { background: #ccc; color: #2F2F2F; }

.sidebar.light ul li.active > a, .sidebar.light a[aria-expanded="true"] {
	background: #ddd;
	color: #2F2F2F;
}

.sidebar.light ul ul a { background: #ddd; }

.sidebar.light ul ul li.active > a { background: #ccc; }

.sidebar.light a.btn-customized-3 { background: #ddd; color: #2F2F2F; }

.sidebar.light a.btn-customized-3:hover, 
.sidebar.light a.btn-customized-3:active, 
.sidebar.light a.btn-customized-3:focus, 
.sidebar.light a.btn-customized-3:active:focus, 
.sidebar.light a.btn-customized-3.active:focus,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc; color: #2F2F2F;
}

.sidebar.light a.btn-customized-4.btn-customized-dark { background: #555; }
.sidebar.light a.btn-customized-4.btn-customized-light { background: #eee; }

.sidebar.light a.btn-customized-4.btn-customized-dark:hover, 
.sidebar.light a.btn-customized-4.btn-customized-dark:active, 
.sidebar.light a.btn-customized-4.btn-customized-dark:focus, 
.sidebar.light a.btn-customized-4.btn-customized-dark:active:focus, 
.sidebar.light a.btn-customized-4.btn-customized-dark.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc; color: #fff;
}

.sidebar.light a.btn-customized-4.btn-customized-light:hover, 
.sidebar.light a.btn-customized-4.btn-customized-light:active, 
.sidebar.light a.btn-customized-4.btn-customized-light:focus, 
.sidebar.light a.btn-customized-4.btn-customized-light:active:focus, 
.sidebar.light a.btn-customized-4.btn-customized-light.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc; color: #fff;
}


/***** Dark overlay *****/

.overlay {
    display: none; position: fixed; width: 100vw; height: 100vh; 
    background: rgba(51, 51, 51, 0.7); z-index: 998; opacity: 0; transition: all .5s ease-in-out;
}

.overlay.active { display: block; opacity: 1; }


/***** Content *****/

.content { width: 100%; transition: all 0.3s; }

.open-menu { position: fixed; top: 20px; left: 10px; z-index: 997; box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2); }

.open-menu.btn-customized,
.open-menu.btn-customized:hover, 
.open-menu.btn-customized:active, 
.open-menu.btn-customized:focus, 
.open-menu.btn-customized:active:focus, 
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
/* .open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
} */


/***** Buttons *****/

a.btn-customized {
	margin-left: 5px; margin-right: 5px; padding: .75rem 1.5rem; 
	background: #f35b3f; border: 0; border-radius: 4px; 
	font-size: 16px; font-weight: 300; color: #fff; box-shadow: none;
}

a.btn-customized:hover, 
a.btn-customized:active, 
a.btn-customized:focus, 
a.btn-customized:active:focus, 
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: #cd533d; background: rgba(243, 91, 63, 0.7); border: 0; color: #fff; box-shadow: none;
}

a.btn-customized-2 {
	margin-left: 5px; margin-right: 5px; padding: .75rem 1.5rem; 
	background: #fff; border: 0; border-radius: 4px; 
	font-size: 16px; font-weight: 300; color: #555; box-shadow: none;
}

a.btn-customized-2:hover, 
a.btn-customized-2:active, 
a.btn-customized-2:focus, 
a.btn-customized-2:active:focus, 
a.btn-customized-2.active:focus,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: #ccc; background: rgba(255, 255, 255, 0.5); border: 0; color: #555; box-shadow: none;
}

a.btn-customized-3 {
	display: inline-block; width: 100%; margin: 0; padding: .75rem 1.5rem; 
	background: #444; border: 0; border-radius: 4px; 
	font-size: 16px; font-weight: 300; color: #fff; box-shadow: none;
}

a.btn-customized-3:hover, 
a.btn-customized-3:active, 
a.btn-customized-3:focus, 
a.btn-customized-3:active:focus, 
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: #555; border: 0; color: #fff; box-shadow: none;
}

a.btn-customized i, 
a.btn-customized-2 i,
a.btn-customized-3 i { margin-right: 5px; }


a.btn-customized-4 {
	display: inline-block; width: 28px; height: 28px; margin: 0 3px; padding: 0; 
	background: #444; border: 0; border-radius: 50%; 
	font-size: 16px; font-weight: 300; color: #fff; box-shadow: none; text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark { background: #222; }
a.btn-customized-4.btn-customized-light { background: #fff; }

a.btn-customized-4.btn-customized-dark:hover, 
a.btn-customized-4.btn-customized-dark:active, 
a.btn-customized-4.btn-customized-dark:focus, 
a.btn-customized-4.btn-customized-dark:active:focus, 
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: #555; border: 0; color: #fff; box-shadow: none;
}

a.btn-customized-4.btn-customized-light:hover, 
a.btn-customized-4.btn-customized-light:active, 
a.btn-customized-4.btn-customized-light:focus, 
a.btn-customized-4.btn-customized-light:active:focus, 
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: #555; border: 0; color: #fff; box-shadow: none;
}


/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 80px; }

.section-container-gray-bg { background: #f8f8f8; }

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 { color: #fff; }

.section-container-image-bg .divider-1 span { border-color: #fff; border-color: rgba(255, 255, 255, 0.8); }

.section-description { margin-top: 60px; padding-bottom: 10px; }

.section-description p { margin-top: 20px; padding: 0 120px; }
.section-container-image-bg .section-description p { opacity: 0.8; }

.section-bottom-button { padding-top: 20px; }


/***** Divider *****/

.divider-1 span { display: inline-block; width: 200px; border-bottom: 1px dotted #aaa; }
